.Note-card-grid {
	background-color: #2b2b2b;
	height: 160px;
	margin-bottom: 1rem;
}

.Note-card-list {
	background-color: #2b2b2b;
	margin-bottom: 1rem;
}

.Note-card-grid .Note-title {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 8px;
}

.Note-card-list .Note-title {
	text-align: start;
	padding: 2px;
	padding-left: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.Note-date {
	position: absolute;
	bottom: 7px;
	left: 10px;
	font-size: 12px;
}

.Note-content {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 14px;
	padding: 0px 8px;
}

.Note-delete {
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 12px;
}

.Note-favorite {
	position: absolute;
	top: 7px;
	left: 10px;
	font-size: 12px;
}
