#NoteActionForm-card {
	width: 90%;
	margin: auto;
	margin-top: 25px;
	padding: 0;
}

#NoteActionForm-card .card-header {
	height: 56px;
}

#NoteActionForm-Back {
	margin-left: 5px;
	float: right;
	padding: 5px;
}

#NoteActionForm-Live-Preview {
	display: none;
}

#NoteActionForm-Preview,
#NoteActionForm-Live-Preview {
	border: solid 1px #ced4da;
	border-radius: 0.25rem;
	height: 600px;
	padding: 8px;
}

#NoteActionForm-Live-Preview > div {
	overflow: overlay;
	width: 100%;
}

#NoteActionForm-See-Preview {
	margin-right: 15px;
	float: right;
	padding: 5px;
}

#NoteActionForm-title {
	vertical-align: middle;
	margin: 0;
	float: left;
	padding: 5px;
	font-size: 24px;
}

#NoteActionForm-TextArea .input-group-text {
	width: 100%;
	border-radius: 0.25rem 0.25rem 0 0;
}

#NoteActionForm-TextArea textarea {
	margin: 0;
	margin-top: -1px;
	border-radius: 0 0 0.25rem 0.25rem;
	resize: none;
}

#NoteActionForm-Form {
	padding: 0;
}

@media screen and (min-width: 1400px) {
	#NoteActionForm-Live-Preview {
		display: flex;
	}
}

#NoteActionForm-Cancel {
	width: 150px;
}

#NoteActionForm-Save {
	float: right;
	width: 150px;
}
