@import url('../../var.css');

#Navbar-nav-container {
	margin-right: 10px;
	margin-left: 10px;
	max-width: 100%;
}

.navbar {
	border-bottom: solid 1px var(--high-color);
	background-color: var(--main-color) !important;
}

.Navbar-nav-link {
	text-align: center;
}

.Navbar-nav-favorite {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.Navbar-nav-favorite {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	align-self: center;
	width: 150px;
}

.Navbar-nav-search {
	width: 100%;
}

@media screen and (min-width: 992px) {
	.Navbar-nav-search {
		position: absolute;
		right: 10px;
		top: 10px;
		width: auto;
	}

	.Navbar-nav-favorite {
		width: 108px;
	}
}
