@import url('../../var.css');

#Navbar-nav-container {
	margin-right: 10px;
	margin-left: 10px;
	max-width: 100%;
}

.navbar {
	border-bottom: solid 1px var(--high-color);
	background-color: var(--main-color) !important;
}

#Navbar-nav-search {
	width: 100%;
}

.Navbar-nav-link {
	text-align: center;
}
