#Categories {
	margin-top: 1rem;
	padding: 5px;
	text-align: center;
	color: whitesmoke;
}

#Categories-Add {
	max-width: 250px;
	float: right;
}

#Categories-Add input {
	background-color: var(--main-color) !important;
}

#Categories-Add button {
	color: var(--main-color) !important;
}

#Categories-Settings {
	margin-left: 5px;
	float: left;
	padding: 5px;
}
