#Categories {
	margin-top: 1rem;
	text-align: center;
	color: var(--main-color);
}

#Categories-Add {
	max-width: 250px;
	float: right;
}

#Categories-Add button {
	color: var(--main-color) !important;
}

#Categories-Settings {
	margin-left: 5px;
	float: left;
	padding: 5px;
}

#Categories-Result {
	height: calc(100vh - 57px - 119px - 216px);
	overflow: overlay;
}

@media (min-width: 768px) {
	#Categories-Result {
		height: calc(100vh - 57px - 127px);
	}
}
