#Notebooks {
	margin-top: 1rem;
	padding: 5px;
	text-align: center;
}

#Notebooks {
	color: whitesmoke;
}

#Notebooks-Add {
	width: 250px;
	float: right;
}

#Notebooks-Add input {
	background-color: var(--main-color) !important;
}

#Notebooks-Add button {
	color: var(--main-color) !important;
}

#Notebooks-DisplayMode {
	margin-left: 5px;
	float: left;
	padding: 5px;
}

#Notebooks h2 {
	text-align: left;
	padding-left: 20px;
}
