.Category-card-list {
	background-color: #2b2b2b;
	margin-bottom: 1rem;
}

.Category-card-list .Category-title {
	text-align: start;
	padding-left: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0;
}

.Category-delete {
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 12px;
}

.Category-rename {
	position: absolute;
	top: 4px;
	right: 35px;
}

.Category-title-rename {
	background-color: darkgrey;
	text-align: center;
	border-radius: 0.25rem;
	width: 160px;
}
