#Notes {
	margin-top: 1rem;
	padding: 5px;
	text-align: center;
}

#Notes {
	color: whitesmoke;
}

#Notes-Add {
	width: 250px;
	float: right;
	margin-right: 16px;
}

#Notes-Add {
	color: var(--main-color) !important;
	background-color: #2b2b2b;
}

#Notes-DisplayMode {
	margin-left: 5px;
	float: left;
	padding: 5px;
}

#Notes-Back {
	margin-left: 5px;
	float: right;
	padding: 5px;
}

#Notes h2 {
	text-align: left;
	padding-left: 20px;
}
