.app-container {
	position: relative;
	padding: 0 !important;
}

#HomePage-Stats {
	margin-top: 1rem;
	padding: 5px;
	text-align: center;
}

#HomePage-Stats .card-header {
	padding: 0px;
	font-size: 40px;
}
